[user]
	name = Pavan Jadhaw
	email = pavanjadhaw96@gmail.com
	signingkey = 756D30C8F549F405
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[status]
	short = false
[core]
	excludesfile = ~/.gitignore-global
[pull]
	rebase = false
[checkout]
	defaultRemote = origin
[commit]
	gpgsign = true
